html,
body {
    padding: 0;
    margin: 0;
}


.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px minmax(10px, 1fr);
    grid-template-rows: 100vh;
}

.left {
    display: grid;
    /* grid-template-rows: minmax(10px, 40px) minmax(1px, 1fr); */
    grid-template-rows: minmax(10px, 1fr);
    gap: 10px;
}

.left_list {
    overflow-y: scroll;
}

/* tree样式 */
 

.ztree * {
    font-size: 14px !important;
}




.level1 .level1>span:nth-of-type(2) {
    display: inline-block;
    line-height: 32px;

}

/* 第三级图片 */



/* 图标 */
.top_ico_open,
.top_ico_close {
    display: inline-block;
    width: 24px !important;
    height: 24px !important;
    background-image: url('../imgs/icon_01.svg') !important;
    vertical-align: middle;
}

.area_ico_open,
.area_ico_close,
.area_ico_docu {
    display: inline-block;
    width: 24px !important;
    height: 24px !important;
    background-image: url('../imgs/icon_02.svg') !important;
}

/* 视频头 */
.video_ico_docu {
    background-image: url('../imgs/video_icon.png') !important;
    background-size: contain;
    background-position: center;
    width: 24px !important;
    height: 24px !important;
}

.ztree li{
    margin: 8px 0 !important;
}

.ztree li a {
    display: inline-flex !important;
    align-items: center;
    height: 32px;
}

.ztree li a.curSelectedNode {
    width: 91%;
    border: none;
    background-color: none;
    position: relative;
    color: #fff !important;
    border: none !important;
}

.ztree li a>span:nth-of-type(2) {
    margin-left: 8px;
}

.curSelectedNode::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 145%;
    background: red;
    z-index: -1;

}


/* // 设置全局滚动条样式 */
::-webkit-scrollbar {
    width: 7px;
    /*对垂直流动条有效*/
    height: 10px;
    /*对水平流动条有效*/
    background: #ebebeb;
}

/* // 背景色 */
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    border-radius: 10px;
}

/* // 滑块颜色 */
::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 10px;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
    background: #ebebeb;
}